# Python
*.py[cod]
*$py.class
__pycache__/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
*.env

# Virtual environment
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.swp

# Cache and temporary files
*.tmp
*.bak
*.backup
*.swp
*.swo

# Git
*.orig
